<h1>CampusBite Menu</h1>

<form method="GET" action="/menu">
  <input type="text" name="search" placeholder="Search food..." value="<%= search %>">
  <button type="submit">Search</button>
</form>

<% foods.forEach(food => { %>
  <div style="border:1px solid black; padding:10px; margin:10px;">
    <h2><%= food.name %></h2>
    <p>Price: RM <%= food.price %></p>
    <p>Category: <%= food.category %></p>
    <p><%= food.description %></p>
  </div>
<% }) %>